.home-container{
    width: 100%;
    height: 80vh;
    padding: 0rem 3rem;
    .home-image{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: right;
        position: relative;
        padding: 3rem 0;
        @media(max-width:1200px){
        }
        img{
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit:cover;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: right;
            text-align: right;
            z-index: 999;
            opacity: 1;
            @media(max-width:404px){
               width: 400px;
                } 
                @media(max-width:288px){
                       width: 300px;
                        } 
                        @media(max-width:228px){
                               width: 250px;
                                } 
                                @media(max-width:198px){
                                    width: 100%;
                                     } 
            
        }
        .home-text-carton{
            width: 60%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: right;
            @media(max-width:588px){
                width: 100%;
                } 
            .pencil{
                position: absolute;
                 width: 100px;
                 height: 100px;
                 right: 44px;
                 @media(max-width:300px){
                    width: 80px;
                    height: 80px;
                    right: 0;
                    } 
            }
            .parents{
                position: absolute;
                 width: 100px;
                 height: 100px;
                 left: 300px;
                 @media(max-width:708px){
                    left: 50px;
                    } 
                    @media(max-width:300px){
                        width: 70px;
                        height: 70px;
                        left: 0;
                        } 
            }
            .hand{
                position: absolute;
                 width: 100px;
                 height: 100px;
                 right: 190px;
                 bottom: 230px;
                 @media(max-width:352px){
                    right: 0;
                    }  
                    @media(max-width:300px){
                        width: 70px;
                        height: 70px;
                        } 
            }
            .valentine{
                position: absolute;
                width: 100px;
                height: 100px;
                left: 200px;
                top: 80px;
                @media(max-width:876px){
                left: 300px;
                top: 80px
                }
                @media(max-width:780px){
                    left: 300px;
                    top: 100px
                    }
                    @media(max-width:708px){
                        left: 200px;
                        top: 100px
                        } 
                        @media(max-width:352px){
                            left: 0;
                            } 
                            @media(max-width:300px){
                                width: 70px;
                                height: 70px;
                                }   
            }
            .notbook{
                position: absolute;
                width: 100px;
                height: 100px;
                left: 40px;
                bottom: 60px;
                @media(max-width:300px){
                    width: 70px;
                    height: 70;
                    } 
            }
            .bike{
                position: absolute;
                width: 160px;
                height: 160;
                left: 100px;
                bottom: 120px; 
                @media(max-width:352px){
                    left:  0px;
                    } 
                    @media(max-width:300px){
                        width: 100px;
                        height: 100;
                        } 
            }
            .smiley{
                position: absolute;
                width: 80px;
                height: 80px;
                right: 100px;
                top: 10px; 
                @media(max-width:876px){
                right: 40px;
                top: 10px; 
                @media(max-width:352px){
                    right: 0;
                    top: 10px; 
                    }
                    @media(max-width:300px){
                        width: 60px;
                        height: 60px;
                        } 
            }}
            .brid{
                position: absolute;
                width: 80px;
                height: 80px;
                right: 300px;
                top: 50px; 
                @media(max-width:1200px){
                    right: 200px;
                    top: 50px; 
                }
                @media(max-width:990px){
                    right: 200px;
                    top: 10px; 
                }
                @media(max-width:352px){
                    left: 0;
                    top: 10px;  
                    }
                    @media(max-width:300px){
                        width: 50px;
                        height: 50px;
                        } 
            }
        }
        .home-text{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: left;
            .home-text-text{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                z-index: 999;
                @media(max-width:500px){
                    gap: 3rem;
                    }
                    @media(max-width:456px){
                        gap: 4rem;
                        }
                        @media(max-width:320px){
                            gap: 2rem;
                                } 
                                @media(max-width:200px){
                                    gap: 1rem;
                                        }
                    
                .p-one{
                    font-size: 2.4rem;
                    font-weight: 500;
                    color: #002147;
                    @media(max-width:404px){
                        font-size: 2rem;
                        }
                }
                .p-two{
                    font-size: 5rem;
                    font-weight: 100;
                    color: #002147;
                    @media(max-width:876px){
                        font-size: 4rem;
                        }
                        @media(max-width:588px){
                            font-size: 3rem;
                            }
                            @media(max-width:464px){
                                font-size: 2rem;
                                font-weight: 200;
                                }
                    span{
                        font-weight: 800;
                        color: #fdc800;
                        @media(max-width:876px){
                            font-size: 4rem;
                            }
                            @media(max-width:588px){
                                font-size: 3rem;
                                }
                                @media(max-width:464px){
                                    font-size: 2rem;
                                    }
                    }
                }
                .p-three{
                    font-size: 5rem;
                    font-weight: 100;
                    color: #002147;
                    @media(max-width:876px){
                        font-size: 4rem;
                        }
                        @media(max-width:588px){
                            font-size: 3rem;
                            }
                            @media(max-width:464px){
                                font-size: 2rem;
                                font-weight: 200;
                                }
                    span{
                        font-weight: 800;
                        color: #002147;
                        @media(max-width:876px){
                            font-size: 4rem;
                           font-weight: 800;
                            }
                            @media(max-width:588px){
                                font-size: 3rem;
                                }
                                @media(max-width:464px){
                                    font-size: 2rem;
                                    }
                    }
                }
                .p-four{
                    font-size: 5rem;
                    font-weight: 100;
                    color: #002147;
                    @media(max-width:876px){
                        font-size: 4rem;
                        }
                        @media(max-width:588px){
                            font-size: 3rem;
                            }
                            @media(max-width:464px){
                                font-size: 2rem;
                                font-weight: 200;
                                }
                    
                }
                .p-five{
                    font-size: 5rem;
                    font-weight: 800;
                    color: #fdc800;
                    @media(max-width:876px){
                        font-size: 4rem;
                        }
                        @media(max-width:588px){
                            font-size: 3rem;
                            }
                            @media(max-width:464px){
                                font-size: 2rem;
                                }
                    span{
                        color: #002147;
                        @media(max-width:876px){
                            font-size: 4rem;
                            font-weight: 800;
                            }
                            @media(max-width:588px){
                                font-size: 3rem;
                                }
                                @media(max-width:464px){
                                    font-size: 2rem;
                                    }
                    }
                }
                .btn{
                    display: flex;
                    align-items: center;
                    padding-left: 15rem;
                    @media(max-width:588px){
                        padding-left: 4rem;
                        }
                        @media(max-width:484px){
                            padding-left: 0rem;
                            }
                    button{
                        padding: 1.6rem 8rem;
                        background: #00043b;
                        color: #fff;
                        border: none;
                        font-size: 2rem;
                        @media(max-width:420px){
                            padding: 1.6rem 5rem;
                            }
                            @media(max-width:368px){
                                padding: 1.6rem 4rem;
                                font-size: 1.7rem;
                                    } 
                                    @media(max-width:258px){
                                        padding: 1.4rem 3rem;
                                        font-size: 1.7rem;
                                            } 
                                            @media(max-width:200px){
                                                padding: 1.4rem 0;
                                                font-size: 1.4rem;
                                                    } 
                    }
                }
            }
        }
    }
  
}